# --- DATA FILES ---
# Ignore the data folder where you'll store CSVs
data/
# Ignore any loose CSV files in the root
*.csv
*.zip
*.rar

# --- RESTRICTED FOLDERS ---
# Do not push sensitive or temporary files
DO_NOT_PUSH/

# --- PYTHON BAGGAGE ---
# Ignore the virtual environment
venv/
env/
.env

# Ignore Python bytecode (speeds up execution but clutters Git)
__pycache__/
*.py[cod]

# --- IDE & SYSTEM ---
# Ignore VS Code settings and Mac system files
.vscode/
.DS_Store